.btn {
    width: 100%;
    max-width: 250px;
    color: #000;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: #9c9c9c;
    padding: 15px 30px;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navBarBtn {
    cursor: pointer;
    color: #2b9b9d;
    border: 2px solid #2b9b9d;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px 30px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

@media (hover: hover) {
    .navBarBtn:hover {
        background-color: #2b9b9d;
        color: #ffffff;
    }
    
    .btn:hover {
        background-color: #7e7e7e;
        color: #ffffff;
    }
}


@media screen and (max-width: 799px) {
    .navBarBtn {
        padding: 5px 5px;
        max-width: 100px;
    }

    .btn {
        align-self: center;
    }
}